.brownianMotionContainer {
  border-radius: var(--space-2);
  border: var(--space-0-5) solid var(--color-outline-variant);
  max-width: inherit;
  min-height: calc(var(--container-sm) + var(--space-0-5) * 2);
}

.historicalCanvas,
.particlesCanvas {
  position: absolute;
}
