@layer components {
  .brownianMotion {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 100vh;
    min-height: 100vh;
  }

  .brownianMotion__particlesCanvas {
    border: 3px solid black;
  }

  .brownianMotion__historicalCanvas {
    position: absolute;
  }
}
