@layer components {
  .brandLink {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    user-select: none;
  }

  .brandPath_fill_colorInverseOnSurfaceDark {
    fill: var(--color-inverse-on-surface-dark);
  }

  .brandPath_fill_colorOnSurfaceVariantDark {
    fill: var(--color-on-surface-variant-dark);
  }

  .brandPath_fill_colorOutlineVariantDark {
    fill: var(--color-outline-variant-dark);
  }

  .brandPath_stroke_colorInverseOnSurfaceDark {
    stroke: var(--color-inverse-on-surface-dark);
  }

  .brandTitle {
    color: var(--color-on-surface-variant);
    display: none;
    user-select: none;
    @container header (width >= 18rem) {
      display: block;
    }
  }
}
