.brand {
  align-items: center;
  display: flex;
  gap: var(--space-1);
  text-decoration: none;
  user-select: none;
}

.brandPath_fill_colorOnSurface {
  fill: var(--color-on-surface);
}

.brandPath_fill_colorOutline {
  fill: light-dark(var(--color-outline), var(--color-on-primary-container));
}

.brandPath_stroke_colorOnSurface {
  stroke: var(--color-on-surface);
}

.brandEye {
  border-radius: 100%;
  height: var(--space-10);
  width: var(--space-10);
  @container headerContainer (width >= 18rem) {
    height: auto;
    width: var(--space-10);
  }
}

.brandTitle {
  display: none;
  fill: var(--color-on-surface);
  user-select: none;
  @container headerContainer (width >= 18rem) {
    display: inline-flex;
    height: var(--space-10);
    width: var(--space-20);
  }
}
