@layer components {
  .button {
    cursor: pointer;
    border-radius: 0.5rem;
    border-bottom-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .button:hover {
    --tw-translate-y: -1px;
    transform: translate(0, var(--tw-translate-y)) rotate(0) skewX(0)
      skewY(var(0)) scaleX(1) scaleY(1);
    --tw-brightness: brightness(1.1);
    filter: var(--tw-brightness);
  }

  .button:active {
    --tw-translate-y: 2px;
    transform: translate(0, var(--tw-translate-y)) rotate(0) skewX(0)
      skewY(var(0)) scaleX(1) scaleY(1);
    --tw-brightness: brightness(0.9);
    filter: var(--tw-brightness);
  }
}
