.fullWidth {
  width: 100%;
}

.button {
  align-items: center;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:active {
    transform: scale(0.96);
    transition: transform 0.1s;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    transform: none;
  }
  & svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.primary {
  background-color: var(--color-inverse-surface);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--color-inverse-on-surface);
  &:hover:not(:disabled) {
    filter: brightness(110%);
  }
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--color-outline);
  color: var(--color-on-surface);
  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: var(--color-on-surface);
  }
}
