.fullWidth {
  width: 100%;
}

.label {
  color: var(--color-inverse-on-surface);
}

.playButton {
  align-items: center;
  background-color: var(--color-inverse-surface);
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:active {
    filter: brightness(75%);
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
    transition:
      transform 0.2s,
      filter 0.2s;
  }
  & svg {
    color: var(--color-inverse-on-surface);
    height: 1.25rem;
    width: 1.25rem;
  }
}
