.fullWidth {
  width: 100%;
}

.button {
  align-items: center;
  border-radius: var(--space-1-5);
  border: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--space-3-5);
  font-weight: 600;
  gap: var(--space-2);
  justify-content: center;
  padding: var(--space-2) var(--space-3);
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:active {
    transform: scale(0.96);
    transition: transform 0.1s;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    transform: none;
  }
  & svg {
    height: var(--space-5);
    width: var(--space-5);
  }
}

.primary {
  background-color: var(--color-inverse-surface);
  box-shadow: var(--elevation-level-1);
  color: var(--color-inverse-on-surface);
  &:hover:not(:disabled) {
    filter: brightness(110%);
  }
}

.secondary {
  background-color: transparent;
  border: var(--space-px) solid var(--color-outline);
  color: var(--color-on-surface);
  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: var(--color-on-surface);
  }
}
