@layer components {
  .cell {
    background-color: lightgray;
    border-color: var(--color-outline);
    border-style: solid;
    border-width: 0 0.0625rem 0.0625rem 0;
    cursor: pointer;
    height: var(--cell-size);
    padding: 0;
    user-select: none;
    width: var(--cell-size);
    &:first-child {
      border-left-width: 0.0625rem;
    }
  }

  .empty {
    background-color: #d3d3d3;
  }

  .end {
    background-color: #ee4400;
  }

  .start {
    background-color: #00dd00;
  }

  .wall {
    background-color: #808080;
  }
}
