.grid {
  flex: 1;
  height: var(--container-sm);
  justify-content: center;
  max-height: 70vh;
  min-height: var(--container-sm);
  user-select: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--cell-size));
  justify-content: center;
  max-height: calc(var(--cell-size));
  overflow: hidden;
  &:first-child > * {
    border-top-width: var(--space-px);
  }
}
