.checkboxContainer {
  display: flex;
  gap: 0.325rem;
}

.grid {
  flex: 1;
  height: 40rem;
  justify-content: center;
  max-height: 70vh;
  user-select: none;
}

.pathfindingContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.pathfindingControlsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 14rem;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--cell-size));
  justify-content: center;
  max-height: calc(var(--cell-size));
  overflow: hidden;
  &:first-child > * {
    border-top-width: 0.0625rem;
  }
}
