.checkboxContainer {
  display: flex;
  gap: var(--space-1-5);
  justify-content: center;
}

.pathfindingControlsContainer {
  background-color: var(--color-surface-container);
  border-radius: var(--space-2);
  border: var(--space-0-5) solid var(--color-outline);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: 100%;
  padding: var(--space-4);
  width: fit-content;
}

.pathfindingButtonsContainer,
.pathfindingSelectsContainer {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(1, 1fr);
}

@media (width >= 48rem) and (width < 64rem) {
  .pathfindingButtonsContainer,
  .pathfindingSelectsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 64rem) {
  .pathfindingControlsContainer {
    max-width: var(--space-64);
    min-width: fit-content;
  }
  .pathfindingButtonsContainer,
  .pathfindingControlsContainer,
  .pathfindingSelectsContainer {
    flex-direction: column;
  }
}
