.pathfindingContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--space-3);
  width: 100%;
}

@media (width >= 64rem) {
  .pathfindingContainer {
    flex-direction: unset;
  }
}
