.sm {
  --font-size-input: var(--space-3);
  --font-size-label: var(--space-2-5);
  --height: var(--space-8);
  --padding-y: var(--space-2);
}

.md {
  --font-size-input: var(--space-3-5);
  --font-size-label: var(--space-3);
  --height: var(--space-10);
  --padding-y: var(--space-3);
}

.lg {
  --font-size-input: var(--space-4);
  --font-size-label: var(--space-3-5);
  --height: var(--space-14);
  --padding-y: var(--space-4);
}

.fieldset {
  border-radius: inherit;
  border: var(--space-px) solid var(--color-outline);
  inset: 0;
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding-left: var(--space-3);
  pointer-events: none;
  position: absolute;
}

.inputContainer {
  border-radius: var(--space-2);
  position: relative;
  width: 100%;
  &:has(.input:disabled) {
    color: var(--color-on-surface-variant);
  }
  &:has(.input:disabled) .fieldset {
    border-color: var(--color-surface-variant);
  }
}

.legend {
  font-size: var(--font-size-label);
  height: 0;
  visibility: hidden;
  & span {
    padding-left: var(--space-1-5);
    padding-right: var(--space-1);
  }
}

.label {
  color: var(--color-secondary);
  font-size: var(--font-size-label);
  left: 0;
  line-height: 1;
  padding: 0 var(--space-1-5);
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(var(--space-3), -50%);
  z-index: 1;
}

.input {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-on-surface);
  font-family: inherit;
  font-size: var(--font-size-input);
  padding: var(--padding-y) var(--space-4) var(--padding-y) var(--space-4);
  width: 100%;
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
  &:focus ~ .fieldset {
    border-color: var(--color-primary);
    border-width: var(--space-0-5);
  }
}
