.home {
  align-self: center;
  margin-top: var(--space-12);
  max-width: var(--container-2xs);
  width: 100%;
}

@media (width >= 40rem) {
  .home {
    max-width: var(--container-sm);
  }
}

@media (width >= 48rem) {
  .home {
    max-width: var(--container-md);
  }
}

@media (width >= 64rem) {
  .home {
    max-width: var(--container-lg);
  }
}
