@layer components {
  .sidebar {
    display: none;
    /**
     * Prevent @container stacking context
     */
    @media (width >= 48rem) {
      display: block;
      flex-basis: 14rem;
    }
  }
}
