.fieldset {
  border-radius: inherit;
  border: 0.0625rem solid var(--color-outline);
  inset: 0;
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding-left: 0.75rem;
  pointer-events: none;
  position: absolute;
}

.selectContainer {
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  &::after {
    background-color: currentColor;
    content: "";
    height: 1rem;
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 9.95404L14.542 4.50234C14.9192 4.18806 15.4797 4.23902 15.794 4.61615C16.1082 4.99329 16.0573 5.55379 15.6801 5.86807L8.56905 11.794C8.23941 12.0687 7.76059 12.0687 7.43095 11.794L0.319858 5.86807C-0.0572765 5.55379 -0.108231 4.99329 0.206047 4.61615C0.520326 4.23902 1.08083 4.18806 1.45796 4.50234L8 9.95404Z' fill='%23495057'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: contain;
    min-width: 1rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.15s ease-in-out;
  }
  &:has(.select:disabled) {
    color: var(--color-on-surface-variant);
  }
  &:has(.select:disabled) .fieldset {
    border-color: var(--color-surface-variant);
  }
}

.legend {
  font-size: 0.75rem;
  height: 0;
  visibility: hidden;
  & span {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.label {
  color: var(--color-secondary);
  font-size: 0.75rem;
  padding: 0 0.3rem;
  pointer-events: none;
  position: absolute;
  transform: translate(0.75rem, -50%);
  z-index: 1;
}

.select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-on-surface);
  font-size: 0.875rem;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  text-overflow: ellipsis;
  width: 100%;
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
  &:focus ~ .fieldset {
    border-color: var(--color-primary);
    border-width: 0.125rem;
  }
}
