.sm {
  --font-size-input: var(--space-3);
  --font-size-label: var(--space-2-5);
  --height: var(--space-8);
  --icon-size: var(--space-3-5);
  --padding-y: var(--space-2);
}

.md {
  --font-size-input: var(--space-3-5);
  --font-size-label: var(--space-3);
  --height: var(--space-10);
  --icon-size: var(--space-4);
  --padding-y: var(--space-3);
}

.lg {
  --font-size-input: var(--space-4);
  --font-size-label: var(--space-3-5);
  --height: var(--space-14);
  --icon-size: var(--space-5);
  --padding-y: var(--space-4);
}

.fieldset {
  border-radius: inherit;
  border: var(--space-px) solid var(--color-outline);
  inset: 0;
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding-left: var(--space-3);
  pointer-events: none;
  position: absolute;
}

.selectContainer {
  border-radius: var(--space-2);
  position: relative;
  width: 100%;
  &::after {
    background-color: currentColor;
    content: "";
    height: var(--icon-size);
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 9.95404L14.542 4.50234C14.9192 4.18806 15.4797 4.23902 15.794 4.61615C16.1082 4.99329 16.0573 5.55379 15.6801 5.86807L8.56905 11.794C8.23941 12.0687 7.76059 12.0687 7.43095 11.794L0.319858 5.86807C-0.0572765 5.55379 -0.108231 4.99329 0.206047 4.61615C0.520326 4.23902 1.08083 4.18806 1.45796 4.50234L8 9.95404Z' fill='%23495057'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: contain;
    min-width: var(--icon-size);
    pointer-events: none;
    position: absolute;
    right: var(--space-4);
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.15s ease-in-out;
  }
  &:has(.select:disabled) {
    color: var(--color-on-surface-variant);
  }
  &:has(.select:disabled) .fieldset {
    border-color: var(--color-surface-variant);
  }
}

.legend {
  font-size: var(--font-size-label);
  height: 0;
  visibility: hidden;
  & span {
    padding-left: var(--space-1-5);
    padding-right: var(--space-1);
  }
}

.label {
  color: var(--color-secondary);
  font-size: var(--font-size-label);
  left: 0;
  line-height: 1;
  padding: 0 var(--space-1-5);
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(var(--space-3), -50%);
  z-index: 1;
}

.select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-on-surface);
  font-size: var(--font-size-input);
  padding: var(--padding-y) var(--space-10) var(--padding-y) var(--space-4);
  text-overflow: ellipsis;
  width: 100%;
  &:disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
  &:focus ~ .fieldset {
    border-color: var(--color-primary);
    border-width: var(--space-0-5);
  }
}
