.label {
  color: var(--color-secondary);
  font-size: 0.875rem;
  left: 1rem;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0.75rem;
  text-overflow: ellipsis;
  top: 0.5rem;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.option {
  padding: 0.325rem 0 0.325rem 1rem;
}

.select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-on-surface);
  height: auto;
  min-width: 3.75rem;
  padding: 2rem 2.5rem 0.5rem 1rem;
  white-space: normal;
  width: 100%;
  word-break: break-word;
  &:disabled {
    cursor: not-allowed;
  }
}

.selectContainer {
  background-color: var(--color-surface-container-high);
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--color-outline);
  position: relative;
  transition:
    background-color 150ms ease-out,
    border-color 150ms ease-out,
    color 150ms ease-out;
  width: 100%;
  &::after {
    background-color: currentColor;
    content: "";
    height: 1rem;
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 9.95404L14.542 4.50234C14.9192 4.18806 15.4797 4.23902 15.794 4.61615C16.1082 4.99329 16.0573 5.55379 15.6801 5.86807L8.56905 11.794C8.23941 12.0687 7.76059 12.0687 7.43095 11.794L0.319858 5.86807C-0.0572765 5.55379 -0.108231 4.99329 0.206047 4.61615C0.520326 4.23902 1.08083 4.18806 1.45796 4.50234L8 9.95404Z' fill='%23495057'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: contain;
    min-width: 1rem;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 72.5%;
    transform: translateY(-50%);
    transition: transform 0.15s ease-in-out;
  }
  &:has(.select:disabled) {
    background-color: var(--color-surface-variant);
    border-color: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
    cursor: not-allowed;
  }
}
