.label {
  color: var(--color-secondary);
  font-size: 0.875rem;
  left: 1rem;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0.75rem;
  text-overflow: ellipsis;
  top: 0.5rem;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.option {
  padding: 0.325rem 0 0.325rem 1rem;
  &::checkmark {
    display: none;
  }
  &:not(:last-child) {
    border-bottom: 0.0625rem solid var(--color-outline);
  }
}

.select {
  align-items: center;
  display: flex;
  padding: 2rem 1rem 0.5rem 1rem;
  width: 100%;
  &,
  &::picker(select) {
    appearance: base-select;
    background-color: var(--color-surface);
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--color-outline);
    color: var(--color-on-surface);
  }
  &::picker-icon {
    background-color: currentColor;
    content: "";
    height: 1rem;
    mask-image: url("/vislly/images/carat-down.svg");
    min-width: 1rem;
    transition: transform 0.15s ease-in-out;
  }
  &:open::picker-icon {
    transform: rotate(180deg);
  }
}

.selectContainer {
  position: relative;
  width: 100%;
}
