@layer components {
  /* .select::before {
    width: 50px;
    max-width: fit-content;
    content: "select";
  } */

  .themeSelect {
    --total_text_color: #e0e0e0;
    --btn_bg: #3a3a3a;
    --btn_height: 2em; /* TODO: Space between button and list container */
    --list_bg: var(--btn_bg);
    --list_gap: 0.1875em;
    --list_btn_hover_bg: #5a5656;
    --list_btn_gap: 0.4375em;
    --list_offset: 0.35em;
    z-index: 1;
  }

  .themeSelect {
    color: var(--total_text_color);
    position: relative;
    width: fit-content;
    border-radius: 100%;
    user-select: none;
  }

  .themeSelect__listContainer {
    position: absolute;
    left: 0;
    right: unset;
    top: calc(var(--btn_height) + var(--list_offset));
  }

  .themeSelect__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  .themeSelect__button {
    line-height: var(--btn_height);
    background-color: var(--btn_bg);
    padding: 0.5em;
    display: inline-flex;
    align-items: center;
    column-gap: 0.3125em;
    border-radius: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    outline: none;
    font-weight: bold;
  }

  .themeSelect__list {
    margin: 0;
    list-style-type: none;
    padding: 0.5em;
    border-radius: 0.3125em;
    background-color: var(--list_bg);
    display: flex;
    flex-direction: column;
    row-gap: var(--list_gap);
  }

  .themeSelect__listLabel {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: var(--list_btn_gap);
    padding: 0.35em 1em;
    border-radius: 0.25em;
    white-space: nowrap;
  }

  .themeSelect__listLabelDescription {
    font-size: 14px;
  }

  .themeSelect__listLabel:hover,
  .themeSelect__button:hover,
  .themeSelect__checkboxInput:checked ~ .themeSelect__button {
    background-color: var(--list_btn_hover_bg);
  }

  .themeSelect__button .systemThemeIcon,
  .themeSelect__button .alwaysLightThemeIcon,
  .themeSelect__button .alwaysDarkThemeIcon,
  .themeSelect__systemInput,
  .themeSelect__alwaysLightInput,
  .themeSelect__alwaysDarkInput,
  .themeSelect__checkboxInput,
  .themeSelect__checkboxInput:not(:checked) ~ .themeSelect__listContainer {
    display: none;
  }

  .themeSelect__systemInput:checked ~ .themeSelect__button .systemThemeIcon,
  .themeSelect__alwaysLightInput:checked
    ~ .themeSelect__button
    .alwaysLightThemeIcon,
  .themeSelect__alwaysDarkInput:checked
    ~ .themeSelect__button
    .alwaysDarkThemeIcon {
    display: block;
  }
}
