@layer components {
  .themeSelect {
    --btn_bg: #3a3a3a;
    --btn_height: 2em; /* TODO: Space between button and list container */
    border-radius: 100%;
    color: #e0e0e0;
    position: relative;
    user-select: none;
    width: fit-content;
    z-index: 1;
  }

  .themeSelect__listContainer {
    left: 0;
    position: absolute;
    right: unset;
    top: calc(var(--btn_height) + 0.35em);
  }

  .themeSelect__icons {
    align-items: center;
    display: flex;
    height: 16px;
    justify-content: center;
    width: 16px;
  }

  .themeSelect__button {
    align-items: center;
    background-color: var(--btn_bg);
    border-radius: 100%;
    border: none;
    color: inherit;
    column-gap: 0.3125em;
    display: inline-flex;
    font-family: inherit;
    font-weight: bold;
    line-height: var(--btn_height);
    outline: none;
    padding: 0.5em;
  }

  .themeSelect__list {
    background-color: var(--btn_bg);
    border-radius: 0.3125em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    row-gap: 0.1875em;
  }

  .themeSelect__listLabel {
    align-items: center;
    border-radius: 0.25em;
    column-gap: 0.4375em;
    display: flex;
    justify-content: start;
    padding: 0.35em 1em;
    white-space: nowrap;
  }

  .themeSelect__listLabelDescription {
    font-size: 14px;
  }

  .themeSelect__button:has(.themeSelect__checkboxInput:checked),
  .themeSelect__button:hover,
  .themeSelect__listLabel:hover {
    background-color: #5a5656;
  }

  .themeSelect__alwaysDarkInput,
  .themeSelect__alwaysLightInput,
  .themeSelect__button:has(.themeSelect__checkboxInput:not(:checked))
    ~ .themeSelect__listContainer,
  .themeSelect__checkboxInput,
  .themeSelect__systemInput {
    display: none;
  }
}
