.figure {
  align-items: center;
  background-color: var(--color-surface-container-high);
  border-radius: 0.5rem;
  box-shadow: var(--elevation-level-1);
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.figure:hover {
  background-color: var(--color-surface-container-highest);
  box-shadow: var(--elevation-level-2);
}

.figureCaption {
  font-weight: 600;
  padding: 1rem;
  width: 100%;
}

.figureImage {
  border-radius: 0.5rem 0.5rem 0 0;
  height: auto;
  max-width: 100%;
  width: 12.5rem;
}

.gallerySection {
  display: grid;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  max-width: 70rem;
  padding: 0;
}

@media (width >= 29rem) {
  .gallerySection {
    grid-template-columns: repeat(auto-fill, minmax(0, 12.5rem));
  }
}
