@layer components {
  .figure {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .figureCaption {
    font-weight: 600;
    padding: 1rem;
    width: 100%;
  }

  .figureImage {
    border-radius: 0.5rem;
    height: auto;
    max-width: 100%;
    width: 12.5rem;
  }

  .gallerySection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1fr, minmax(0, 12.5rem));
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (width >= 29rem) {
    .gallerySection {
      grid-template-columns: repeat(auto-fill, minmax(0, 12.5rem));
    }
  }
}
