.statsContainer {
  color: var(--color-on-surface-dark);
  flex: 0 0 auto;
  font-family: monospace;
  font-size: var(--space-3-5);
  font-weight: 400;
  padding: var(--space-2);
  pointer-events: none;
  width: 100%;
}
