.container {
  --border-width: 0.125rem;
  border-radius: 0.5rem;
  border: var(--border-width) solid var(--color-outline-variant);
  max-width: inherit;
  min-height: calc(40rem + var(--border-width) * 2);
  position: relative;
  width: 100%;
  background-color: #000;
}

.canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
