.canvasContainer {
  --border-width: var(--space-0-5);
  background-color: var(--color-surface-container-lowest-dark);
  border-radius: 0rem;
  border: var(--border-width) solid var(--color-outline-variant);
  display: flex;
  flex-direction: column;
  max-width: inherit;
  min-height: calc(var(--container-sm) + var(--border-width) * 2);
  overflow: hidden;
  width: 100%;
}

.canvasWrapper {
  flex: 1;
  position: relative;
  width: 100%;
}

.canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

.theSoundOfSortingContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--space-4);
  width: 100%;
}

@media (width >= 56rem) {
  .theSoundOfSortingContainer {
    flex-direction: row;
  }
}
