.controlsContainer {
  background-color: var(--color-surface-container);
  border-radius: var(--space-2);
  border: var(--space-0-5) solid var(--color-outline);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: 100%;
  padding: var(--space-4);
  width: fit-content;
}

.inputsContainer,
.buttonsContainer {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(1, 1fr);
}

@media (width >= 40rem) and (width < 56rem) {
  .inputsContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .buttonsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 56rem) {
  .controlsContainer {
    max-width: var(--space-72);
    min-width: fit-content;
  }

  .inputsContainer,
  .buttonsContainer,
  .controlsContainer {
    flex-direction: column;
  }

  .inputsContainer,
  .buttonsContainer {
    grid-template-columns: 1fr;
  }
}
