.statsContainer {
  color: var(--color-on-surface-dark);
  flex: 0 0 auto;
  font-family: monospace;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.5rem;
  pointer-events: none;
  width: 100%;
}
