.controlsContainer {
  background-color: var(--color-surface-container);
  border-radius: 0.5rem;
  border: 0.125rem solid var(--color-outline);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: 100%;
  padding: 1rem;
  width: fit-content;
}

.inputsContainer,
.buttonsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (width >= 40rem) and (width < 56rem) {
  .inputsContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .buttonsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 56rem) {
  .controlsContainer {
    max-width: 18rem;
    min-width: fit-content;
  }

  .inputsContainer,
  .buttonsContainer,
  .controlsContainer {
    flex-direction: column;
  }

  .inputsContainer,
  .buttonsContainer {
    grid-template-columns: 1fr;
  }
}
