:root {
  --light-text: #222430;
  --light-bg: #f7f7f7;
  --light-theme: #d34a97;

  --dark-text: #f7f7f7;
  --dark-bg: #222430;
  --dark-theme: #bd93f9;

  background: var(--bg-color);
  color: var(--text-color);
}

:root[data-theme="dark"] {
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--dark-theme);
}

:root[data-theme="light"] {
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
}
