@layer components {
  .button {
    display: inline-flex;
  }

  .button:hover {
    background-color: var(--color-surface-container-high);
  }

  .checkboxInput {
    display: none;
  }

  .themeSelectContainer {
    position: relative;
    width: fit-content;
  }
}
