@layer components {
  :root:has(.input:checked) {
    overflow: hidden;
    scrollbar-width: none;
  }

  .header:has(.input:checked) ~ .main > .sidebar {
    display: flex;
  }

  .footer {
    padding: 2rem;
  }

  .header {
    &:has(.input:checked) {
      border-bottom: 1px solid var(--color-outline-variant);

      & ~ .footer,
      & ~ .main > .content {
        opacity: 0;
      }
    }
  }

  /**
   * Prevent @container stacking context
   */
  @media (width >= 48rem) {
    :root:has(.input:checked) {
      overflow: unset;
      scrollbar-width: unset;
    }

    .header:has(.input:checked) {
      & ~ .footer,
      & ~ .main > .content {
        opacity: unset;
      }

      & ~ .main > .content {
        position: unset;
      }
    }

    .header:has(.input:checked) ~ .main > .content {
      height: unset;
    }
  }
}
