@layer components {
  .copyrightNotice {
    font-size: 0.875rem;
    margin-top: 1rem;
    text-align: center;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.25rem 1rem 1.25rem;
    color: var(--color-on-surface-variant);
  }

  @media (width >= 48rem) {
    .footer {
      margin-left: 15rem;
    }

    .footerContainer {
      margin: 0 auto;
      max-width: 50rem;
    }
  }
}
