.footerContainer {
  color: var(--color-on-surface-variant);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  padding: var(--space-12) var(--space-4) var(--space-6);
  text-align: center;
}

.copyrightNotice,
.deployNotice {
  font-size: var(--space-3);
  line-height: var(--space-4);
}

.deployNotice {
  opacity: 0.6;
}

@media (width >= 68rem) {
  .footerContainer {
    margin: 0 auto;
  }
}
