.footer {
  width: 100%;
}

.footerContainer {
  color: var(--color-on-surface-variant);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 3rem 1rem 1.5rem;
  text-align: center;
}

.copyrightNotice {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  line-height: 1rem;
}

.deployNotice {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  line-height: 1rem;
  opacity: 0.6;
}

@media (width >= 68rem) {
  .footerContainer {
    margin: 0 auto;
  }
}
