@layer components {
  .header {
    background-color: var(--color-surface-container-lowest);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .leftContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .rightContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
