.dialog {
  background-color: var(--color-surface-container);
  border-radius: 1rem;
  border: 0.125rem solid var(--color-outline);
  color: var(--color-on-surface);
  opacity: 0;
  padding: 0;
  transform: scale(0.9);
  transition:
    opacity 0.2s allow-discrete,
    transform 0.2s allow-discrete,
    overlay 0.2s allow-discrete,
    display 0.2s allow-discrete;
  width: min(90vw, 32rem);
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition:
      opacity 0.2s allow-discrete,
      overlay 0.2s allow-discrete,
      display 0.2s allow-discrete;
  }
  &[open] {
    opacity: 1;
    transform: scale(1);
    &::backdrop {
      opacity: 1;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2em;
}

.header {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  gap: 1rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
