.dialog {
  background-color: var(--color-surface-container-high);
  border-radius: var(--space-7);
  border: var(--space-px) solid var(--color-outline-variant);
  box-shadow: var(--elevation-level-3);
  color: var(--color-on-surface);
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transform: scale(0.9);
  transition:
    opacity 0.2s allow-discrete,
    transform 0.2s allow-discrete,
    overlay 0.2s allow-discrete,
    display 0.2s allow-discrete;
  width: min(90vw, var(--container-xs));
  body:has(&[open]) {
    overflow: hidden;
  }
  &::backdrop {
    background-color: var(--color-scrim);
    opacity: 0;
    transition:
      opacity 0.2s allow-discrete,
      overlay 0.2s allow-discrete,
      display 0.2s allow-discrete;
  }
  &[open] {
    opacity: 1;
    transform: scale(1);
    &::backdrop {
      opacity: 0.32;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  max-height: 80vh;
  overflow-y: auto;
  padding: var(--space-6);
}

.header {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  font-size: var(--space-3-5);
  gap: var(--space-4);
}

.footer {
  display: flex;
  justify-content: flex-end;
}
