@layer components {
  .burgerIcon,
  .closeIcon {
    height: 1.33rem;
    stroke: var(--color-on-surface);
    width: 1.33rem;
  }

  .burgerIcon,
  .input:checked ~ .closeIcon {
    display: block;
  }

  .label,
  .input:checked ~ .burgerIcon,
  .closeIcon {
    display: none;
  }

  @media (width < 48rem) {
    .label {
      display: flex;
    }
  }
}
