.divider {
  width: 100%;
  height: var(--space-0-5);
  background-color: var(--color-outline-variant);
}

.sm {
  margin: var(--space-2) 0;
}

.md {
  margin: var(--space-4) 0;
}

.big {
  margin: var(--space-5) 0;
}
