.iconButtonContainer {
  display: flex;
  align-items: center;
  border-radius: 100%;
  color: var(--color-on-surface);
  cursor: pointer;
  height: var(--space-12);
  justify-content: center;
  transition: transform 0.2s;
  width: var(--space-12);
  &:active {
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
    transition: transform 0.2s;
  }
  &:hover {
    background-color: var(--color-surface-container-high);
  }
}

.iconButtonInput {
  display: none;
}
