@layer components {
  .burgerIcon,
  .closeIcon {
    height: 1.33rem;
    stroke: var(--color-on-surface);
    width: 1.33rem;
  }

  .burgerIcon,
  .burgerInput:checked ~ .closeIcon {
    display: block;
  }

  .burgerInput:checked ~ .burgerIcon,
  .closeIcon {
    display: none;
  }
}
