@layer components {
  .button {
    align-items: center;
    background-color: var(--color-surface-container-lowest);
    border-radius: 100%;
    border: none;
    color: var(--color-on-surface-variant);
    column-gap: 0.3125em;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-weight: 400;
    height: 3rem;
    justify-content: center;
    padding: 0.2em;
    width: 3rem;
  }

  .button:has(.checkboxInput:checked),
  .button:hover,
  .listItemLabel:hover {
    background-color: var(--color-surface-container-high);
  }

  .alwaysDarkInput,
  .alwaysLightInput,
  .button:has(.checkboxInput:not(:checked)) ~ .listContainer,
  .checkboxInput,
  .systemInput {
    display: none;
  }

  .iconContainer {
    align-items: center;
    display: flex;
    height: 1.25rem;
    justify-content: center;
    width: 1.25rem;
  }

  .label {
    font-size: 14px;
  }

  .list {
    background-color: var(--color-surface-container);
    border-radius: 0.3125em;
    color: var(--color-on-surface-variant);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    row-gap: 0.1875em;
  }

  .listContainer {
    left: auto;
    position: absolute;
    right: 0;
    top: calc(var(--btn_height) + 0.5em);
  }

  .listItemLabel {
    align-items: center;
    border-radius: 0.25em;
    column-gap: 0.4375em;
    cursor: pointer;
    display: flex;
    justify-content: start;
    padding: 0.35em 1em;
    white-space: nowrap;
  }

  .mainContainer {
    --btn_height: 2em;
    border-radius: 100%;
    position: relative;
    user-select: none;
    width: fit-content;
    z-index: 1;
  }
}
