@layer components {
  .header {
    background-color: var(--color-surface-container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .header__leftContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .header__rightContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
