.sm {
  --padding-wrapper: var(--space-1-5) var(--space-3);
  --font-size-label: var(--space-2-5);
  --font-size-value: var(--space-3);
  --margin-bottom: var(--space-1);
}

.md {
  --padding-wrapper: var(--space-2) var(--space-4);
  --font-size-label: var(--space-3);
  --font-size-value: var(--space-3-5);
  --margin-bottom: var(--space-2);
}

.lg {
  --padding-wrapper: var(--space-3) var(--space-5);
  --font-size-label: var(--space-3-5);
  --font-size-value: var(--space-4);
  --margin-bottom: var(--space-3);
}

.rangeWrapper {
  border-radius: var(--space-2);
  border: var(--space-px) solid var(--color-outline);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--padding-wrapper);
}

.rangeLabel {
  color: var(--color-secondary);
  font-size: var(--font-size-label);
  margin-bottom: var(--margin-bottom);
  line-height: 1.2;
  & strong {
    color: var(--color-on-surface);
    font-weight: 600;
    font-size: var(--font-size-value);
    margin-left: var(--space-1);
  }
}

.rangeInput {
  accent-color: var(--color-primary);
  cursor: pointer;
  width: 100%;
  display: block;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
