.container {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.0625rem;
  user-select: none;
  width: fit-content;
  &:has(.input:disabled) {
    color: var(--color-on-surface-variant);
    cursor: not-allowed;
  }
}

.iconWrapper {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  height: 2.625rem;
  justify-content: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 2.625rem;
  @media (hover: hover) {
    &:hover {
      background-color: var(--color-surface-container-high);
    }
  }
}

.icon {
  border-radius: 0.1875rem;
  box-shadow: inset 0 0 0 0.0625rem var(--color-outline);
  height: 1rem;
  transition:
    background-color 150ms ease,
    box-shadow 150ms ease;
  width: 1rem;
  &::before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 00-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0012 5z' fill='%23000'/%3E%3C/svg%3E");
    background-color: var(--color-on-primary);
    content: "";
    display: none;
    height: 1rem;
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 00-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0012 5z' fill='%23000'/%3E%3C/svg%3E");
    width: 1rem;
  }
}

.input {
  clip: rect(0 0 0 0);
  position: absolute;
  &:focus-visible {
    & ~ .icon {
      outline-offset: 0.125rem;
      outline: 0.125rem auto var(--color-primary);
    }
  }
  &:disabled {
    & ~ .icon {
      background: var(--color-surface-variant);
      box-shadow: none;
      cursor: not-allowed;
    }
  }
  &:checked {
    & ~ .icon {
      background-color: var(--color-primary);
      box-shadow: none;
      &::before {
        display: block;
      }
    }
    &:disabled ~ .icon {
      background-color: var(--color-on-surface-variant);
      opacity: 0.38;
      &::before {
        background-color: var(--color-surface-variant);
      }
    }
  }
}
